{% extends 'base.html.twig' %}
{# {% block head %}
	{{ parent() }}
	<link rel="stylesheet" href="{{ asset('css/creation.css') }}">
{% endblock %} #}
{% block title %}Creation compte
{% endblock %}

{% block body %}
<main>
<section class="creation">
<h2>Créer un compte</h2>
<form class="formulaire" method="post">
					<div id="display_start">
						<label for="mail">Email :</label><br>
						<input type="email" id="mail2" placeholder="Entrez un email*" name="mail"><br>
						<label for="password">Mot de passe :</label>
						<input type="password" id="mdp2" minlength="4" maxlength="20" placeholder="Mot de passe*" name="password">
					</div>
				
					<input class="btn ocre valider" type="submit" value="Valider">
				</form>
			</section>
		</main>

{% endblock %}
