/************************************************************************************************
                                        Page Agenda
*************************************************************************************************/
/*******************main AGENDA*******************/
#agenda_main {
    background: url(../img/Splash.svg) -8% 10%,
                url(../img/Ellipse_gras_ocre.svg) 105% 5%,
                url(../img/Splash.svg) 35% 110%,
                url(../img/EllipseVert.svg) 105% 95%;
    background-repeat: no-repeat;
    mix-blend-mode: darken;
}
#agenda_section{
    height: 100vh;
    display: flex;
}
#agenda_aside{
    width: 35%;
    background-repeat: no-repeat;
    mix-blend-mode: darken;
}
#agenda_aside>div{
    width: 90%;
    margin: 80% auto;
}
#agenda_aside img{
    width: 100%;
}
/*****************planning********************/
#agenda{
    width: 100%;
}
#agenda h2{
    color: #385A64;
    margin: 3% 5%;
}
#agenda_navigation{
    margin: 3%;
    display: flex;
    justify-content:flex-end;
}
#agenda_navigation a{
    padding: 10px 20px;
}
.wrapper {
    width: 90%;
    height: 80%;
    margin: 0 auto;
    border: #F2B705 2px solid;
    border-radius: 10px;
}
.wrapper header {
    display: flex;
    align-items: center;
    padding: 25px 30px 10px;
    justify-content: space-between;
}
header .icons {
    display: flex;
}
header .icons span {
    height: 38px;
    width: 38px;
    margin: 0 1px;
    cursor: pointer;
    color: #878787;
    text-align: center;
    line-height: 38px;
    font-size: 1.9rem;
    user-select: none;
    border-radius: 50%;
}
.icons span:last-child {
    margin-right: -10px;
}
header .icons span:hover {
    background: #F2F2F2;
}
header .current-date {
    font-size: 1.45rem;
    font-weight: 500;
    color: #385A64;
}
.calendar {
    padding: 20px;
}
.calendar ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    text-align: center;
}
.calendar .days {
    margin-bottom: 20px;
}
.calendar li {
    color: #385A64;;
    width: calc(100% / 7);
    font-size: 1.07rem;
}
.calendar .weeks li {
    font-weight: 500;
    cursor: default;
}
.calendar .days li {
    z-index: 1;
    cursor: pointer;
    position: relative;
    margin-top: 8%;
}
.days li.inactive {
    color: #aaa;
}
.days li.active {
    color: #fff;
}
.days li::before {
    position: absolute;
    content: "";
    left: 50%;
    top: 50%;
    height: 40px;
    width: 40px;
    z-index: -1;
    border-radius: 50%;
    transform: translate(-50%, -50%);
}
.days li.active::before {
    background: #F2B705;
}
.days li:not(.active):hover::before {
    background: #F2F2F2;
}
/*******************paragraphe agenda************/
#agendaTxt{
    color: #BF5F56;
    display: flex;
    width: 40%;
    margin: 0 45%;
    padding: 5% ;
}
#agendaTxt p{
    padding: 2%;
}
 /******Pop-up récapitulatif de la journée****/
 #popupJournee{
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #F0F0F0;
    padding: 20px;
    border: 1px solid #ccc;
    z-index: 1000; /* Assurez-vous que la div est au-dessus des autres éléments */
}