      
      /* ******************************Page Ajouter Membre********************************************** */
#AjoutMembre_Main {
    display: flex;
    justify-content: center;
    background: var(--gris);
}

/* h2{
    margin: 30px;
    /*color: var(--vert);*/
    /* font-size: 40px;
    font-family: 'Oswald';
    font-weight: bold;
} */
      
#AjoutMembre_Ajouter {
    border: 1px solid var(--ocre);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 70px auto;
    box-shadow: 4px 4px 10px grey;
    /* width: 500px; */
    width: 30%;
    height: 60%;
    color: #000;
    opacity: 75%;
    font-family: 'Quicksand'; 
    font-family: 16px;
    font-weight: bold;
}

.AjoutMembre_colonne1{
    padding: 5px;
    margin: 5px;
    width: px;
    border-radius: 7px;
    display: flex;
    justify-content: space-between;
}

#prenom #age {
    height: 25px;
    width: 500px;
    border-radius: 7px;
    /*color: var(--vert);*/
    opacity: 75%;
}
#age.colonne1{
    width: 200px;
}

/* input{
        background: var(--gris);
        border: 1px solid var(--ocre);
        padding-bottom: 10px;
    } */
      

      /* ******************************ChoixDefi********************************************** */

#choixDefis{
        padding: 100px 10%;
        color: #385A64;
        margin-bottom: 100px;
        display: flex;
        justify-content: center;
    }
    
.choixContainer{
        display: flex;
    }
.gourmand,.zen,.fun{
        width: 300px;
        height: 403px;
        margin: 60px;
        border-radius: 24px;
        display: flex;
        flex-direction: column;
    }
.gourmand{
        background-color: #BF5F56;
    }
.fun{
        background-color: #F2B705;
    }
.zen{
        background-color: #385A64;
    }
.image{
        display: flex;
        justify-content: center;
        margin-top: 25px;
        border-radius: 20px;
    }
.imgDefi{
        border-radius: 20px;
        border: #F2F2F2 1px solid;
    }
.containerText{
        background-color: #F2F2F2;
        display: flex;
        justify-content: center;
        width: 261px;
        height: 90px;
        align-items: center;
        margin: 40px auto;
        border-radius: 24px;
        cursor: pointer;
    }
.containerText:hover{
        background-color: #F2A29B;
    }
#choixDefis div h3{
        color: #385A64;
        text-transform: uppercase;
    }

h1{
    transform: rotate(-15deg);
    text-align: center;
    margin: 66px 0px;
    /* font-family: 'Oswald'; */
    /* font-size: 66px;
    font-weight: bold; */
    color: #385a64;
}

#défiPresentation{
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: flex-start;
	align-content: flex-start;
}
.défiPresDroite{
    width: 50%;
    padding: 15px;
}
.défiPresDroite P{
    font-size: 40px;
}
.défiPresGauche{
    width: 50%;
}
P{
    text-align: justify;
    margin: 60px 0px;
    /* font-family: 'Oswald'; */
    font-size: 30px;
    font-weight: semi-bold;
    color: #385a64;

}


#AjoutMembre_boutonAjout{
    padding-left: 2cm;
    padding-right: 2cm;
    padding-top: 10px;
    border-radius: 8px;
    background: var(--ocre);
    color: white;
    font-size: 12px;
    letter-spacing: 1px;
    font-family: 'Oswald';
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
}
/*************************DéfiYoga1*************************/

/* h1{
    /*color: var(--vert);
    font-family: 'Oswald';
    font-weight: bold;
    font-size: 66px;
    transform: rotate(-15deg);
} */


.titre2defi{
    font-family: 'Oswald';
    font-weight: bold;
    margin-top: 35px;
    /*color: var(--vert);*/
    justify-content: center;
    text-align: center;
    font-size: 35px;
}

p{
    /* font-family: oswald; */
    /*color: var(--vert);*/
    justify-content: justify;
    font-size: 25px;
    padding: 15px;
      
}


#introYoga{
    display: flex;
    flex-direction: row; 
    justify-content: space-evenly;
    height: 20%;
    width: 100%;
    margin-bottom: 30px;
   }

.titreGauche, .titreDroite{
    display: flex;
    width: 50%;
    justify-content: center; 
   }

.titreDroite p{
    font-size: 40px;
}

main{
    height: 100vh;
    background-color: #F2F2F2;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#YogaVerso1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 1200px;
    height: 650px;
    border-radius: 30px;
    border: 4px solid #385A64;
    background: #FFF;
    box-shadow: 0px 20px 20px 0px #385A64;
    padding: 5px;
    align-items: center;
    padding-bottom: 50px;
 }

#yogaVerso1_bloc{
    display: flex;
    height: 650px;

}
.yogaVerso1_blocDroit{
    justify-content: flex-end;
}

.yogaVerso1_blocGauche{
    width: 50%;
}

.imageLotus_blocGauche{
    display: flex;
    justify-content: center;
    padding: 30px 40px 10px 40px;
    flex-direction: column;
    height: 360px; 
    width: 340px;
}

.fondTexte{
    border-radius: 30px;
    background: #D9D9D9;
    margin-right: 20px;
}

.fondTexte p{
    border-bottom: 5px;
}

/* btn jaune{
    display: flex;
    flex-direction: column;
    border: 2px solid blue;
    width: 30px;
    } */

.btn{
    /* text-transform: uppercase;
    border-radius: 12px;
    padding: 10px 10px;   */
    font-weight: bold;
    width: fit-content;
    display: flex;
    margin: 10px;
    font-size: 16px;
    font-family: Quicksand;
    font-weight: bold;

}

/********************* page defiFun.html ******************/ 
#introDefiFun{
    display: flex;
    flex-direction: row; 
    justify-content: space-evenly;
    height: 20%;
    width: 100%;
    margin-bottom: 30px;
   }

/* .titreGauche, .titreDroite{
    display: flex;
    width: 50%;
    justify-content: center; 
   }
   */

/* main{
    height: 100vh;
    background-color: #F2F2F2;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
} */

#FunVerso1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 1200px;
    height: 650px;
    border-radius: 30px;
    border: 4px solid #F2B705;
    background: #FFF;
    box-shadow: 0px 20px 20px 0px #F2B705;
    padding: 5px;
    align-items: center;
    padding-bottom: 50px;
 }

#funVerso1_bloc{
    display: flex;
    height: 650px;

}
.funVerso1_blocDroit{
    justify-content: flex-end;
}
.funVerso1_blocGauche{
    width: 50%;
}
.fun_blocGauche{
    display: flex;
    justify-content: center;
    height: auto;
    margin-right: 30px;
    margin-left: 30px;
}
.fondTexte{
    border-radius: 30px;
    background: #f2f2f2;
    margin-right: 30px;
    margin-left: 30px;
}
.fondTexte p{
    border-bottom: 5px;

}

/* btn jaune{
    display: flex;
    flex-direction: column;
    border: 2px solid blue;
    width: 30px;
    }

.btn{
    text-transform: uppercase;
    border-radius: 12px;
    padding: 10px 10px;  
    font-weight: bold;
    width: fit-content;
    display: flex;
} */

/* ********************** defiGourmand.html */
#introGourmand{
    display: flex;
    flex-direction: row; 
    justify-content: space-evenly;
    height: 20%;
    width: 100%;
    margin-bottom: 30px;
   }



/* .titreGauche, .titreDroite{
    display: flex;
    width: 50%;
    justify-content: center; 
   }
   */

.titreDroite p{
    font-size: 40px;
}

/* main{
    height: 100vh;
    background: #F2F2F2;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
} */

#GourmandVerso1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 1200px;
    height: 650px;
    border-radius: 30px;
    border: 4px solid #BF5F56;
    background: #FFF;
    box-shadow: 0px 20px 20px 0px #BF5F56;
    padding: 5px;
    align-items: center;
    padding-bottom: 50px;
 }

#gourmandVerso1_bloc{
    display: flex;
    height: 650px;

}
.gourmandVerso1_blocDroit{
    justify-content: flex-end;
    height: 360px;
    overflow-y: scroll;
}
.gourmandVerso1_blocGauche{
    width: 50%;
}
.imageGourmand_blocGauche{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 30px 40px 10px 40px;
    height: 360px; 
    width: 340px;

}

.fondTexte{
    border-radius: 30px;
    background: #F2F2F2;
    margin-right: 20px;
}
.fondTexte p{
    border-bottom: 5px;
}

/* btn ocre{
    display: flex;
    flex-direction: column;
    width: 30px;
    } */

/* .btn{
    text-transform: uppercase;
    border-radius: 12px;
    padding: 10px 10px;  
    font-weight: bold;
    width: fit-content;
    display: flex;
} */
/* p{
    font-family: oswald;
    /*color: var(--vert);
    justify-content: justify;
    font-size: 25px;
    padding: 15px;
} */

main{
    background: url(../img/Splash.svg) 4% 60%,
                url(../img/Ellipse_gras_ocre.svg) 82% 20%;
    background-repeat: no-repeat;
}

/***************** unNouveauDéfi ********************/

.unNouveauDefi_Main{
    display: flex;
    justify-content: center;
    align-items: center;
   
}

#popUpConnexion{
    display: flex;
    flex-direction: column;
    border: var(--jaune) solid 5px;
    background: 2F2F2F;
    border-radius: 7%;
    height: 520px;
    width: 750px;
    background: #f2f2f2;
    position:fixed;
    top: 17%;
    left: 15%;
}

/* #popUpConnexion {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    text-align: center;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
} */


#connexion{
    display: flex;
    max-width: 1200px;
    height: 650px;
    padding: 5px;
    align-items: center;

}

.questionBlocDroit, .questionBlocGauche{
    display: flex;
    flex-direction: column;
    width: auto;
}

.questionBlocGauche{
    display: flex;
    justify-content: center;
    width: 50%;
    mix-blend-mode: darken;
}

.questionBlocDroit{
    flex-direction: column;
    justify-content:center;
    padding: 10px
}

.ensembleBlocs{
    display: flex;
    justify-content: center;
}
