main{
    height: 100vh;
    background: url(../img/Splash.svg) 5% 10%,
                url(../img/Splash.svg) 90% 15%,
                url(../img/Splash.svg) 100% 100%,
                url(../img/EllipseVert.svg) 105% 65%,
                url(../img/Ellipse_gras_jaune.svg) 0% 55%,
                url(../img/Ellipse_gras_ocre.svg) 20% 85%;
    background-repeat: no-repeat;

}

.connexion{
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          width: 480px;
          margin: 75px auto;
          background-color: #F2F2F2;
          border: 1px solid #BF5F56;
          box-shadow: 4px 4px 10px grey;
          border-radius: 10px;
          padding: 10px 20px;
          color: #385A64;
      }
       .connexion h2{
          text-align: center;
          margin: 20px auto;
            font-family: 'Oswald';
          font-size: 30px;
          font-weight: bold;
          color: #385A64;
      }
      .connexion  label{
          color: #000;
          opacity: 85%;
          font-size: 16px;
          font-family: Quicksand;
          font-weight: bold;
          margin-left: 10px;
      }
      input {
          margin: 5px;
          background-color: #F2F2F2;
          
         
      }
      a{
          margin: 5px;
          color: #F2F2F2;
      }
      #inputEmail, #inputPassword{
          width: 464px;
          max-width: 500px;
          height: 45px;
          border: 1px solid #BF5F56;
          border-radius: 10px;
          margin-bottom: 20px;
         
      }
      .connexion button {
          background-color:#BF5F56;
          color: #F2F2F2;
          font-size: 16px;
          border: none;
          height: 40px;
          width: 120px;
          border-radius: 10px;
          margin-top: 20px;
      }
      @media only screen and (max-width: 600px) {
          .connexion {
              width: 250px;
          }
          #inputEmail, #inputPassword{
              width: 240px;
              height: 36px;
          }
        }