main{
    height: 100vh;
    background: url(../img/Splash.svg) 5% 10%,
                url(../img/Splash.svg) 90% 15%,
                url(../img/Splash.svg) 100% 100%,
                url(../img/EllipseVert.svg) 105% 65%,
                url(../img/Ellipse_gras_jaune.svg) 0% 55%,
                url(../img/Ellipse_gras_ocre.svg) 20% 85%;
    background-repeat: no-repeat;

}


#inscription{
    width: 30%;
    height: 80%;
    margin: 75px auto;
    border: 1px solid #BF5F56;
    box-shadow: 4px 4px 10px grey;
    border-radius: 10px;
    padding: 10px 20px;
    color: #385A64;
    
}

#inscription h2{
    text-align: center;
    margin: 30px auto;
    letter-spacing: 1px;
    color: #385A64;
}

#display_start{
    margin-top: 10%;
    color: #385A64;   
}

.input{
    background-color: #f2f2f2;
    border: 1px solid #BF5F56;
    border-radius: 10px;
    width: 100%;
    height: 35px;
    margin: 2% 0 5% 0;
    color: #385A64;
}


#bouton{
    text-align: end;
    margin-bottom: 5%;
}


