main{
    height: 100vh;
    background: url(../img/Splash.svg) 5% 10%,
                url(../img/Splash.svg) 90% 15%,
                url(../img/Splash.svg) 100% 100%,
                url(../img/EllipseVert.svg) 105% 65%,
                url(../img/Ellipse_gras_jaune.svg) 0% 55%,
                url(../img/Ellipse_gras_ocre.svg) 20% 85%;
    background-repeat: no-repeat;

}

#inscription{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 23rem;
    height: 75%;
    margin: 75px auto;
    border: 1px solid #BF5F56;
    box-shadow: 4px 4px 10px grey;
    border-radius: 10px;
    color: #385A64;
    font-size: 16px;
    font-family: Quicksand;
    font-weight: bold;
   
    
}

#inscription h2{
    font-family: 'Oswald';
    margin-bottom: 20px;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    letter-spacing: 1px;
    color: #385A64;
}

#display_start{
    width: 100%;
    margin-top: 3%;
    color: #385A64;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    padding: 20px;

}

.input {
    margin: 15px;
    width: 85%;
    background-color: #F2F2F2;  
    height: 45px;
    border: 1px solid #BF5F56;
    border-radius: 10px;
    margin-bottom: 20px;

    
         
    
}

#bouton {
    text-align: end;
    margin-right: 45px;
   
}

.btn {
    border: none;
}

/* *************************************Modal***************************************** */
#myBtn {
    border: none;
    background-color: #F2F2F2;
    width: 170px;
    font-family: 'Oswald';
    font-size: 16px;
    color: #385A64;
    font-weight: bold;



}
/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
</style>