{% extends 'base.html.twig' %}

{% block title %}À Propos{% endblock %}

{% block body %}
    <h2>À Propos de Happy Home</h2>
    <p>Vous souhaitez en apprendre plus sur notre équipe ? Vous êtes au bon endroit.</p>

        <h3>Notre Équipe</h3>
        <p>Nous sommes une équipe composée de 4 personnes : Anwar, Joëlle, Lynda et Louise. 
        </br>
        Nous sommes toutes les 4 en réorientation professionnelle.</br> 
        Dans ce nouveau pan de notre vie, nous avons choisi de nous former à la conception et au développement d'applications. 
        </p>

        <h3>Pourquoi une application</h3>
        <p> 
        Afin de valider notre formation nous avons à coder une application fonctionnelle et multicouche, ici 3 tiers.</br>
        C'est-à-dire une application :
            </br>- Qui vous permet en tant qu'utilisateur de voir l'interface, le 'front'. C'est ce qu'on appelle la vue.
            </br>- Qui est liée à une base de données sécurisée. C'est ce qu'on appelle le modèle.
            </br>- Qui travaille en arrière plan, sans que vous ne le voyez et qui permet de rappeler vos informations ou de vérifier que vous utilisez bien le bon email et mot de passe pour vous connecter, le 'back'. C'est ce qu'on appele le controller
        </p>

        <h3>Happy home</h3>
        <p>Nous avons choisi de réaliser une application qui vous simplifie la vie!</br>
        Vous pourrez vous organiser et organiser la vie de votre tribu grâce aux parties agenda et ma tribu.</br>
        Vous pourrez trouver de nouvelles activités à réaliser en famille</br>
        Enfin vous trouverez des conseils sur notre blog.
        </p>
{% endblock %}