{# templates/footer/aPropos.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}À Propos{% endblock %}

{% block body %}
    <h1>À Propos de Happy Home</h1>
    <p>Ceci est la page "À Propos" de votre site.</p>

        <h2>Notre Équipe</h2>
        <p>Nous sommes fiers de travailler avec une équipe talentueuse, composée de 4 personnes </br>
        Anwar, Joëlle, Lynda, Louise
        </p>

        <h2>Notre Vision</h2>
        <p>
        </p>

        <h2>Réalisations</h2>
        <p>Au fil des années, nous avons accompli...</p>
{% endblock %}