{% extends 'base.html.twig' %}

{% block title %}À Propos{% endblock %}

{% block body %}
    <h2>Politique de Confidentialité</h2>
        <p>Dernière mise à jour : 07/02/2024</p>
    
    <section>
        <h3>Collecte et Utilisation des Données</h3>
        <p>Nous collectons les informations nécessaires pour offrir une expérience personnalisée et sécurisée. Cela inclut vos informations de profil, les défis que vous créez ou participez, et les interactions avec les membres de votre tribu.</p>
    </section>

    <section>
        <h3>Procédure de Récupération des Données</h3>
        <p>Si vous souhaitez récupérer vos données, veuillez nous contacter à <a href="mailto:{{ adresse e-mail de contact }}">[adresse e-mail de contact]</a>. Nous nous efforcerons de répondre à votre demande dans les plus brefs délais et de vous fournir les informations demandées.</p>
    </section>

    <section>
        <h3>Procédure d'Effacement des Données</h3>
        <p>Pour demander l'effacement de vos données, veuillez nous contacter à <a href="mailto:{{ adresse e-mail de contact }}">[adresse e-mail de contact]</a>. Nous traiterons votre demande dans les délais prescrits par la législation en vigueur. Veuillez noter que certaines données peuvent être conservées à des fins légales ou de sécurité.</p>
    </section>

    <section>
        <h3>Sécurité des Données</h3>
        <p>Nous mettons en place des mesures de sécurité strictes pour protéger vos informations contre tout accès non autorisé, divulgation, altération et destruction.</p>
    </section>

    <section>
        <h3>Changements de la Politique de Confidentialité</h3>
        <p>Nous pouvons mettre à jour cette politique de confidentialité de temps à autre pour refléter les changements dans nos pratiques de gestion des informations. Nous vous encourageons à consulter régulièrement cette page pour rester informé(e) sur la manière dont nous protégeons vos données.</p>
    </section>
{% endblock %}