{% extends 'base.html.twig' %}

{% block stylesheet %}
    <link rel="stylesheet" href="{{ asset('css/footer.css') }}">
{% endblock %}

{% block title %}Mentions légales{% endblock %}

{% block body %}
<div class="center">
    <h2 class="titre deux">Mentions Légales</h2>

    <section>
        <h3 class="titre trois">Hébergement</h3>
        <p class="paragraphe">Le site est hébergé localement, nous mettrons à jour les informations dès lors que l'application sera réellement accessible.</p>
    </section>

    <section>
        <h3 class="titre trois">Directrice de Publication</h3>
        <p class="paragraphe">La directrice de publication est l'équipe Happy Home. Vous pouvez nous contacter dans la section <a href="{{ path('app_contact') }}">Contactez Nous</a>.</p>
    </section>

    <section>
        <h3 class="titre trois">Images</h3>
        <p class="paragraphe">Toutes les images utilisées sur ce site sont libres de droit.</p>
    </section>

    <section id="contact">
        <h3 class="titre trois">Contactez Nous</h3>
        <p class="paragraphe">Pour toute question ou préoccupation, vous pouvez nous contacter en suivant ce lien : <a href="mailto: contact.hapyyhome@gmail.com">contact</a>.</p>
    </section>
</div>
{% endblock %}