{% extends 'base.html.twig' %}

{% block title %}defiFun{% endblock %}

{%block stylesheet%}
    <link rel="stylesheet" href="{{ asset('css/cssLynda.css') }}">

	{# <link rel="stylesheet" href="{{ asset('css/creation.css') }}">
    <link rel="stylesheet" href="{{ asset('css/login.css') }}">
   
    <link rel="stylesheet" href="{{ asset('css/style.css') }}"> #}


{%endblock%}

{% block body %}
<body>  
          <main id="defiFunMain">

          <section id="introDefiFun">
                    <div class="titreGauche">
                              <h1>
                                        Chassons l'ennui!
                              </h1>
                    </div>
                    <div class="titreDroite">
                              <h2>
                              En panne d’inspiration pour occuper les enfants ?
                              </h2>
          </section>
       

          <section id="FunVerso1">
                    <h2>“Kim toucher” - Jeu sur les 5 sens </h2>
                    <div id="funVerso1_bloc">
                              <div class="fun_blocGauche">
                                        <p>
                                                  Fiche du jeu
                                                  <br>
                                                  Tranche d’âge : à partir de 3 ans
                                                  Nombre de participants : à partir de 1 joueur
                                                  Environnement : indifférent
                                                  Durée : 15 minutes environ
                                                  Matériel : foulards, objets divers, sac opaque
                                        </p>
                                        
                              </div>                             
                              <div class="funVerso1_blocDroit">
                                        
                                        <div class="fondTexte">
                                                  <p>
                                                            Mise en place
                                                  </br>
                                                            Préparez 5 à 10 objets que les enfants devront reconnaitre au toucher.
                                                            Leur nombre et leur nature seront choisis en fonction de l’âge des enfants et de leur capacité à les identifier.
                                                            Il peut s’agir par exemple d’un savon, d’une brique de lego, d’un coquillage, d’un ustensile de cuisine, d’un fruit, d’une pile, d’une plume, de papier bulle, etc. 
                                                            N’hésitez pas à varier leur texture, leur taille, leur poids, voire même leur température.
                                                  </p>
                                        </div>
                                        
                              </div>
                                                 
                    </div>
                    <a href="unNouveauDefi.html" class="btn jaune"> Un nouveau Défi</a> 
          </section>
          </main>
<script src=""></script>
</body>
{% endblock %}
